@inject IConfiguration configuration
@inject IExchangeRateRealtimeService realtimeService
@implements IDisposable

<div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Current Exchange</h5>
        <EditForm Model="Model" OnSubmit="Submit" FormName="ExchangeForm">
            <div class="mb-3">
                <label>
                    From Currency:
                    <InputSelect class="form-select" @bind-Value="Model.FromCurrency">
                        @foreach (Currency display in displays)
                        {
                            <option value="@display.Code">@display.Name (ID: @display.Code)</option>
                        }
                    </InputSelect>
                </label>
            </div>
            <div class="mb-3">
                <label>
                    To Currency:
                    <InputSelect class="form-select" @bind-Value="Model.ToCurrency">
                        @foreach (Currency display in displays)
                        {
                            <option value="@display.Code">@display.Name (ID: @display.Code)</option>
                        }
                    </InputSelect>
                </label>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </EditForm>
    </div>
</div>
<div class="card mx-auto mt-1" style="width: 18rem;@(resultVisible ? "display:block" : "display:none")">
    @if (!string.IsNullOrWhiteSpace(errorMessage))
    {
        <div class="h2">@errorMessage</div>
    }
    else if (exchangeRate is null)
    {
        <div class="h2">Loading...</div>        
    }
    else if (exchangeRate.RealtimeCurrencyExchangeRate is null)
    {
        <div class="h2">There is no exchange data.</div>
    }
    else
    {
        <div class="card">
            <div class="card-body">
                <h5>@exchangeRate.RealtimeCurrencyExchangeRate.FromCurrencyName (@exchangeRate.RealtimeCurrencyExchangeRate.FromCurrencyCode)</h5>
                <p>→ @exchangeRate.RealtimeCurrencyExchangeRate.ToCurrencyName (@exchangeRate.RealtimeCurrencyExchangeRate.ToCurrencyCode)</p>
                <p><strong>Rate:</strong> @exchangeRate.RealtimeCurrencyExchangeRate.ExchangeRate</p>
                <p><strong>Last Updated:</strong> @exchangeRate.RealtimeCurrencyExchangeRate.LastRefreshed (@exchangeRate.RealtimeCurrencyExchangeRate.TimeZone)</p>
            </div>
        </div>
    }
</div>
@code {
    [SupplyParameterFromForm]
    private ExchangeCurrentForm? Model { get; set; }
    private readonly Currency[] displays = CurrencyData.Currencies;
    private ExchangeRateRealtimeResponse exchangeRate;
    private string errorMessage;
    private string apiKey;
    private bool resultVisible = false;
    private CancellationTokenSource _cts;

    protected override async Task OnInitializedAsync()
    {
        Model ??= new();
        apiKey = configuration.GetSection("AlphaVantageApiKey").Get<string>()!;
    }

    private async Task Submit()
    {
        _cts?.Cancel();
        _cts = new CancellationTokenSource();
        try
        {
            exchangeRate = await realtimeService.GetExchangeRateRealtimeAsync(apiKey, Model.FromCurrency, Model.ToCurrency, _cts.Token);
            errorMessage = string.Empty;
        }
        catch (Exception ex)
        {
            errorMessage = $"There was an error: {ex.Message}";
        }

        resultVisible = true;
    }

    void IDisposable.Dispose()
    {
        _cts?.Cancel();
        _cts?.Dispose();
    }
}
